*{
    margin:0;
    padding:0;
}
.header{
    min-width: 100vh;
    width:100;
    background-image:url("ums.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} 