table{
    width:600px;
    text-align:burlywood;
}
table,td,th{
    border:1px solid black;
    border-colapse:collapse;
}
th{
    background-color: blue;
    color:wheat ;
}
tr:hover{
   background-color: aqua;

}